
.bodySignOut{
    width:100vw;
    height:auto;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

/* MainContainer */

.containerFarewell{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0px;
    margin:50px auto;
}

.containerFarewell .farewellSection{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerFarewell .farewellSection .titleSection{
    width:50%;
    height:auto;
    text-align: center;
    font-family: var(--fontFamilyIBM);
    color:#A4A4A4;
    font-size: 2.1875rem;
    font-weight: 500;
    margin-bottom:50px;
}

.containerFarewell .farewellSection .ilustracion{
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom:25px;
}


.containerFarewell .farewellSection .goToHome{
    width:auto;
    height:auto;
    padding:10px 25px;
    background-color: #00FF66;
    font-family: var(--fontFamilyIBM);
    color:#1D1D1D;
    font-size: 1rem;
    font-weight: 500;
    border-radius:10px;
    text-decoration: none;
    transition:0.3s ease-in-out;
}

.containerFarewell .farewellSection .goToHome:hover{
    background-color: #ffffff;
}
